<?xml version="1.0"?>

<!--
  PgP 2018/08/17
  allow directory browsing, security left in case updates need to be made.
  should really research what else can be done in this file.
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <!-- allow directory browsing during local compile PgP 8/14/2018-->
  <system.webServer>
    <directoryBrowse enabled="true" />
  <!-- put here in case it is needed in the future; PgP 8/20/2018 -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>